{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body>
    <div id="btc" hx-get="{% url 'atualizar_variavel' %}" hx-trigger="every 1s" hx-swap="innerHTML">
        <h2 id="meuTexto">{{ frase_view }}</h2>
    </div>
</body>
</html>