{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="{% static 'geral/css/base.css' %}" rel="stylesheet">
</head>
<body>
    <section>
        <div class="cabecalho">
            <img src="{% static 'geral/img/logobranca.png' %}" alt="LogoIntechno" class="logo1">
        </div>
    </section>

    <section class="work_space">
      {% block valores_att %}{% endblock %}
    </section>
</body>
</html>
